{{!-- <div class="container justify-content-center mt-5"> --}}
  <div class="card col-md-9 border mx-md-5">
    <div class="row g-0 border">
      
      <h4 class="card-header text-decoration-none">{{this.name}}</h4>{{#if this.favDrinks}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-bookmark-heart-fill"
        viewBox="0 0 16 16">
        <path
          d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
      </svg>
      {{else}}<div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
          class="bi bi-bookmark-heart" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg></div> {{/if}}
    </div>

    <div class="col-md-3 border">
      <img src="{{this.imageUrl}}" class="rounded-start" style="width:100%;" alt="{{this.name}}">

    </div>


    <div class="col-md 6 border">

      <div class="card-body">
        <h5 class="card-subtitletitle">Ingredients:</h5>
        <ul>
          {{#each this.ingredients}}
          <li>{{amount}}{{unit}} {{name}}</li>
          {{/each}}
        </ul>
        <p class="card-text">Method: <br> {{this.method}}</p>
        {{#if this.garnish}} <p class="card-text">Garnish: <br> {{this.garnish}}</p> {{/if}}
        {{#if this.note}} <p class="card-text">Note: <br> {{this.note}}</p> {{/if}}

      </div>
    </div>

  </div>
  <div class="card-footer">
    
    <a href="/drinks/fav/{{this._id}}" class="btn btn-success float-end">Favorite</a>
    <a href="/search/IBA_category/{{this.source}}"><span
        class="badge rounded-pill bg-success">{{this.source}}</span></a>
    <a href="/search/{{this.ingredients.0.name}}"><span
        class="badge bg-success">{{this.ingredients.0.name}}</span></a>
    <a href="/search/{{this.ingredients.1.name}}"><span
        class="badge bg-success">{{this.ingredients.1.name}}</span></a>

  </div>
</div>
</div>