<div class="col-md-3">
  <div class="card m-4">
    <div class="card-header">
      <a href="/drink/{{this._id}}"class="text-decoration-none text-success"><h4 class="card-title text-center ">{{this.name}}</h4>
    </div>
    <img src="{{this.imageUrl}}" class="card-img-bottom" alt="{{this.name}}" /></a>
    <div class="card-footer">
     
        <a href="/search/?searchTerm={{this.source}}"><span class="badge rounded-pill bg-success">{{this.source}}</span></a>
        <br>
        <a href="/search/?searchTerm={{this.ingredients.0.name}}"><span class="badge bg-secondary">{{this.ingredients.0.name}}</span></a>
        <a href="/search/?searchTerm={{this.ingredients.1.name}}"><span class="badge bg-secondary">{{this.ingredients.1.name}}</span></a>


    </div>
  </div>
</div>

