<div class="col-4">
<div class="card" style="width: 18rem;">
    
        <img src="{{this.imageUrl}}" class="card-img-top" alt="{{this.name}}"> 
 
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5> <i class="bi-heart-fill"></i>
            <i class="bi-heart"></i>
            
            Ingredients:
            <ul>
                {{#each this.ingredients}}
                <li>{{amount}}{{unit}} {{name}}</li>
                {{/each}}
            </ul>
            <p class="card-text">Method: <br> {{this.method}}</p>
           {{#if this.garnish}} <p class="card-text">Garnish: <br> {{this.garnish}}</p> {{/if}}
           {{#if this.note}} <p class="card-text">Note: <br> {{this.note}}</p> {{/if}}

            <a href="#" class="btn btn-dark">Edit</a>
            <span class="badge rounded-pill bg-primary">{{this.source}}</span>
            <br>
            <span class="badge bg-secondary">{{this.ingredients.0.name}}</span>
    
            
        </div>
    </div>
    </div>
